@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;

  --color-brand-green: #186420;
  --color-brand-green-dark: #0f3f14;
  --color-brand-green-light: #e6f2e7;
  --color-brand-gold: #c9a227;

  --color-liturgico-advento: #5b2d90;
  --color-liturgico-quaresma: #5b2d90;
  --color-liturgico-pascoa: #eae0c8;
  --color-liturgico-natal: #eae0c8;
  --color-liturgico-comum: #186420;
  --color-liturgico-martir: #a3111d;
}
